.card-header{
    font-size: 35px;
    color: darkgreen;
    text-align: center;
}

.card {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
}

.card-body{
    margin-top: 50px;
    padding-top: 50px;
}

.space-it{
    margin-top: 30px;
}

.form-control{
    width: 50%;
    
}
