.flex-container{
    display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}

.add_course_button{
    padding-top: 30px;
    padding-right: auto;
    padding-left: 30px;
}